DISCORD_TOKEN=jouw_bot_token_hier
GUILD_ID=jouw_server_id_hier
SUPPORT_CHANNEL_ID=ticket_kanaal_id_hier
LOG_CHANNEL_ID=log_kanaal_id_hier
ADMIN_ROLE_ID=admin_rol_id_hier
SUPPORT_ROLE_ID=support_rol_id_hier
